@model CommerceTraining.SupportingClasses.NodeEntryCombo

<h4>Nodes</h4>
<ul>
    @foreach (var item in Model.nodes)
    {
        <li>
            <a href="@item.url">@item.name</a>
            <img src="@item.imageThumbUrl" />
        </li>
    }
</ul>

<h4>Entries</h4>
<ul>
    @foreach (var item in Model.entries)
    {
        <li>
            <a href="@item.url">@item.name</a>
            <img src="@item.imageThumbUrl" />
        </li>
    }
</ul>